@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(ModalApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ModalLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(ModalLayout)">
            <p>Loading...</p>
        </LayoutView>
    </NotFound>
</Router>
